confluent-kafka
db-dtypes>=1.0.0
folium
geopandas
google-auth
google-cloud-bigquery>=3.12.0
google-cloud-bigquery-storage>=2.18.1
h3
matplotlib
nba_api
numpy
pandas
plotly
pgeocode
prince
requests
scikit-learn
streamlit==1.45.1
tenacity
wbgapi